PORT=4000
PGHOST=localhost
PGPORT=3838
PGUSER=react_dex_user
PGPASSWORD=react_dex_password
PGDATABASE=react_dex
DEX_LIMIT_MAX=200
# Comma-separated list of allowed origins.
# CORS_ORIGIN=http://localhost:5173,https://[prod host]
